<h1>Bookmarks for <%= @list.name %></h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %></li>
    <%= link_to "Delete", bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</ul>

<p><%= link_to "View list", list_path(@list) %></p>

<p><%= link_to "Create new bookmark", new_list_bookmark_path(@list) %></p>
